# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
node_modules
.pnp
.pnp.js
yarn.lock
package-lock.json
bun.lockb
pnpm-lock.yaml

# testing
coverage

# next.js
.next/
out/

# build
build/
dist/

# misc
.DS_Store
*.pem
stats.html

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# node
**/node_modules

# bun
bunfig.toml

# generated
**/__generated__

# hidden files
**/.*
!**/.env.example
!**/.gitignore
!**/.gitkeep
!/.editorconfig
!/.github
!/.gitleaks.toml
!/.npmrc
!/.nvmrc
!/.vscode

# turbo
.turbo

# typescript
tsconfig.tsbuildinfo

# vercel
.vercel
